{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <style>
   table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
     background: lightblue;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    background-color: blue;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}</style>

  <!-- Read css file from local static folder -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<!-- Starting homepage functionality -->

  <title>Home</title>
</head>
<body>

  <main>

    <!-- If successful login-->

  {% if user.is_authenticated %}

      <!-- Navbar Design Start if successful login-->

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand">Clark Real Estate</p>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><A href="{% url 'home' %}">Home</a></li>
          <li><a href="https://github.com/phoenixp123/RealEstateDashboard" target="_self">Find the code here</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi {{ user.username }} !</a></li>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
        </div>
      </nav>

      <!-- Navbar Design End if successful login-->

      <p>Hi {{ user.username }}</p>
      <br>
      <div class="container">
      <table class="table">
        <tr>
          <td>Active Housing Listings - by State(USA)</td>
          <td><a class="btn btn-default" href="{% url 'state_listings' %}" role="button">View</a></td>
        </tr>
        <tr>
          <td>Market Hotness - Top 100 Counties</td>
          <td><a class="btn btn-default" href="{% url 'county_hotness' %}" role="button">View</a></td>
        </tr>
        <tr>
          <td>Market Hotness - Top 100 Metros</td>
          <td><a class="btn btn-default" href="{% url 'metro_hotness' %}" role="button">View</a></td>
        </tr>
        <tr>
          <td>Market Hotness - Top 100 Zip Codes</td>
          <td><a class="btn btn-default" href="{% url 'zip_hotness' %}" role="button">View</a></td>
        </tr>
        <tr>
          <td>Median time on market, weekly - National</td>
          <td><a class="btn btn-default" href="{% url 'weekly_national' %}" role="button">View</a></td>
        </tr>
      </table>
    </div>



  {% else %}

    <!-- Navbar Design Start if not successful login-->

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href=>Clark Real Estate</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="https://github.com/phoenixp123/RealEstateDashboard">Find the code here</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <!-- Navbar Design End if not successfull login-->

     <p>You are not logged in</p>
     <br>
     <p>  Please Login to continue...</p>

  {% endif %}

  </main>
</body>
</html>