{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Read css file from local static folder -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<!-- Starting homepage funtionality -->

  <title>Home</title>
</head>
<body>

  <main>

    <!-- If successful login-->

  {% if user.is_authenticated %}

      <!-- Navbar Design Start if successfull login-->

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://www.thinkinfi.com/2020/03/django-basic-login-logout-tutorial.html" target="_blank">ThinkInfi</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="https://www.thinkinfi.com/2020/02/plot-stylish-map-in-dash-with-python.html" target="_blank">Dash tutorial</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi {{ user.username }} !</a></li>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
        </div>
      </nav>

      <!-- Navbar Design End if successfull login-->

      <p>Hi {{ user.username }}</p>
      <br>
      <p>  Welcome to The Sylish Dhango Application</p>


  {% else %}

    <!-- Navbar Design Start if not successfull login-->

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">ThinkInfi</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">Dash Tutorial</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <!-- Navbar Design End if not successfull login-->

     <p>You are not logged in</p>
     <br>
     <p>  Please Login to continue...</p>

  {% endif %}

  </main>
</body>
</html>